footer
{
    height: 30px;

    .left-section
    {
        font-weight: 400;
        font-size: 0.9rem;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}