nav 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 4;
    user-select: none;

    .text-logo
    {
        position: absolute;
        left: 50px;
        top: 40px;
        font-size: 25px;
        font-family: 'Lato';
        font-weight: 700;
        color: var(--menu-text-logo-color);
        transition: color 0.5s;
    }
    .menu
    {
        position: absolute;
        top: 40px;
        width: fit-content;
        height: 50px;
        border-radius: 50px;
        background-color: var(--menu-background-color);
        transition: background-color 0.3s;
        backdrop-filter: blur(10px);

        .menu-btns
        {
            position: relative;
            width: fit-content;
            height: 100%;
            display: flex;
            flex-direction: row;
            gap: 5px;
            
            .menu-btn:hover 
            {
                color: var(--menu-button-hover-color);
            }
            .menu-btn,
            .selected-btn
            {
                display: flex;
                align-items: center;
                padding: 0 25px;
                align-self: stretch;
                cursor: pointer;
                color: var(--menu-button-color);
                font-family: 'Lato';
                letter-spacing: 1px;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                border-radius: 50px;
                transition: 0.3s;
            }
           .selected-btn
            {
                color: white;
            }
        }
        .selected-btn-bg
        {
            position: absolute;
            left: 0;
            height: 100%;
            width: 105px;
            border-radius: 50px;
            background-color: var(--menu-color);
            transition: 0.3s;
        }
    }
    .menu-mobile
    {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: 2;
        background-color: white;
        overflow-y: auto;
        max-height: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: top 0.3s;

        .close-btn
        {
            position: absolute;
            right: 30px;
            top: 40px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;

            span
            {
                position: absolute;
                background-color: black;
                border-radius: 50px;
                width: 100%;
                height: 4px;
                transform-origin: center;
                transform: rotate(45deg);

                &:last-child
                {
                    transform: rotate(-45deg);
                }
            }
        }
        .menu-text-logo
        {
            position: absolute;
            font-size: 20px;
            font-family: 'Lato';
            font-weight: 500;
            color: gray;
            top: 25px;
            left: 25px;    
        }
        .menu-btns
        {
            position: absolute;
            width: 100%;
            text-align: center;
            
            div
            {
                position: relative;
                margin: 40px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 1.75em;
                letter-spacing: 1px;
                text-transform: capitalize;
                color: rgb(168, 168, 168);
            }
            .selected 
            {
                color: black;
            }
        }
        .socialmedia-container
        {
            position: absolute;
            bottom: 0;
            width: 100vw;
            height: 50px;

            display: grid;
            grid-template-columns: auto auto auto;

            
            a {
                position: relative;
                width: 100%;
                height: 100%;
                align-items: center;
                text-align: center;
                font-size: 1.1em;
                font-weight: 300;
                color: rgb(179, 179, 179);
                font-family: 'Nunito';
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        // div
        // {
        //     position: relative;
        //     height: 100%;
        //     width: 100%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     font-size: 3em;
        //     font-family: "Lato";
        //     font-weight: 700;
        //     text-transform: uppercase;
        // }
    }
    .menu-mobile-toggle-btn
    {
        position: absolute;
        right: 25px;
        width: 40px;
        height: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        span
        {
            position: relative;
            width: 100%;
            height: 4px;
            background-color: var(--mobile-navbar-color);
            border-radius: 100px;

            &:last-child
            {
                margin-left: 50%;
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    nav
    {
        height: 80px;
        background-color: white10;
        display: flex;
        align-items: center;
        backdrop-filter: blur(20px);
        
        .menu
        {
            display: none;
        }
        .text-logo
        {
            font-size: 1.5em;
            font-weight: 300;
            line-height: 85%;
            top: unset;
            left: 25px;
            color: var(--mobile-navbar-color) !important;
        }
    }
}